/* HUSK VARIABLES! */

h2 {
	font-size: var(--fontsize-2);
	margin: var(--no-margin);
	text-align: center;
}

h3 {
	font-size: var(--fontsize-1-5);
	margin: var(--no-margin);
}

.video-banner {
	display: flex;
	justify-content: center;
	background-color: black;
}

.video-banner iframe {
	border: none;
}

.welcome-txt {
	text-align: left;
	padding: var(--padding-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--fontsize-1-5);
}

.welcome-txt h2,
.welcome-txt p {
	padding-block: var(--padding-2);
}

.welcome-txt p {
	border-bottom: var(--text-border);
}

.welcome-txt a {
	border-radius: var(--border-rad-full);
	font-weight: var(--bold-font);
	color: var(--main-clr);
}

.info-main {
	padding: var(--padding-2);
	text-align: center;
}

.info-admission {
	margin: auto;
	border-radius: var(--border-rad-full);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--box-background);
	max-width: 45%;
	padding: var(--padding-1);
	font-size: var(--fontsize-1-5);
	font-weight: var(--bold-font);
	box-shadow: 3px 3px 3px var(--main-clr);
}

.info-admission p {
	padding: var(--padding-1);
	width: 100%;
}

.info-categories {
	padding-block: var(--padding-3);
	display: grid;
	gap: var(--spacer-2);
	max-width: 90%;
	margin: auto;
	font-size: var(--fontsize-1-2);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.info-categories img {
	width: 100%;
	display: block;
	max-height: 20rem;
	height: auto;
	object-fit: contain;
}

.category-wrapper {
	padding: var(--spacer-1);
	gap: var(--spacer-2);
	background-color: var(--box-background);
	border-radius: var(--border-rad-full);
	box-shadow: 3px 3px 3px var(--main-clr);
}

.category-wrapper p {
	text-align: left;
	padding-block: var(--padding-1);
}

.info-tour-button {
	display: inline-block;
	margin-top: var(--spacer-2);
	padding: 1rem;
}

.events {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .events-main {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
	max-width: 25%;
	height: auto;
} */

.events-main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 4rem;
	max-width: 80%;
	margin: auto;
	margin-bottom: 3rem;
}

.events-main img {
	width: 100%;
	max-height: 20rem;
	object-fit: contain;
	border-radius: var(--border-rad-full);
}

.events h2 {
	padding-block: var(--spacer-3);
	margin: var(--no-margin);
}

.events h3 {
	margin-bottom: var(--spacer-1);
	text-align: center;
}

.events p {
	font-size: var(--fontsize-1);
}

/* .events-item {
	display: flex;
	gap: 0.5rem;
} */

/* .events-item {
	padding-block: var(--padding-2);
} */

.events-text {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid var(--main-clr);
}

.events-exhibitions-btn {
	display: inline-block;
	margin-bottom: 2rem;
}

.events-exhibitions {
	width: 90%;
	margin-bottom: 2rem;
	padding: 2rem 1rem;
	background-color: var(--box-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 3px 3px 3px var(--main-clr);
	border: 2px solid var(--main-clr);
	border-radius: var(--border-rad-full);
}

.events-exhibitions p {
	font-size: var(--fontsize-1);
	width: 100%;
}
