@import url('./src/css/partials/header.css');
@import url('./src/css/partials/footer.css');
@import url('./src/css/partials/reset.css');
@import url('./src/css/partials/variables.css');

body {
	font-family: var(--bubble-font);
}

.link-button {
}

.link-button:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	transition: 0.3s;
	background-color: var(--white-clr);
	border: var(--grey-border);
	color: var(--secondary-clr);
}

.banner {
	width: 100%;
}

address {
	font-style: normal;
}

p {
	margin: var(--no-margin);
}
