@import url('./src/css/partials/header.css');
@import url('./src/css/partials/footer.css');
@import url('./src/css/partials/reset.css');
@import url('./src/css/partials/variables.css');

body {
	font-family: var(--bubble-font);
}

address {
	font-style: normal;
}

.link-button {
	padding: var(--padding-1);
	transition: 0.3s;
	background-color: var(--secondary-clr);
	border: var(--black-border);
	border-radius: var(--border-rad-full);
	text-decoration: none;
	color: var(--white-clr);
	font-weight: var(--bold-font);
}

.link-button:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	transition: 0.3s;
	background-color: var(--white-clr);
	border: var(--black-border);
	color: var(--secondary-clr);
}

.banner {
	width: 100%;
}

/* implementing responsive design: */

@media (width<900px) {
	/* header */

	/* footer */

	/* landing page */

	.events-item {
		display: flex;
		flex-direction: column;
	}

	.events-item img {
		width: 100%;
		height: auto;
	}

	/* explore page */

	.explore-teachers,
	.explore-research {
		flex-direction: column;
		align-items: center;
	}

	/* exhibition page */

	/* document pages */

	/* contribution page */

	/* contact page */
}
