footer {
	background-color: var(--main-clr);
	font-family: var(--bubble-font);
}

ul {
	max-width: 100%;
	margin: var(--nomargin);
	padding-left: 0;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	gap: 3rem;
}

table {
	/* text-align: left; */
	border-bottom: 1px solid white;
}
.address {
	font-style: normal;
}

.footer-items {
	color: white;
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding-block: 3rem;
}

.footer-legal {
	display: flex;
	flex-direction: column;
}

.footer-legal a {
	color: white;
}

.footer-socialmedia-icons {
	display: flex;
	justify-content: space-around;
	list-style: none;
}
