footer {
	background-color: var(--main-clr);
	font-family: var(--bubble-font);
}

ul {
	display: flex;
	justify-content: space-evenly;
	gap: var(--spacer-3);
	max-width: 100%;
	margin: var(--nomargin);
	padding-left: 0;
	list-style: none;
}

table {
	/* text-align: left; */
	border-bottom: 1px solid var(--white-clr);
}
.address {
	font-style: normal;
}

.footer-items {
	padding-block: 3rem;
	display: flex;
	justify-content: space-around;
	color: var(--white-clr);
	list-style: none;
}

.footer-legal {
	display: flex;
	flex-direction: column;
}

.footer-legal a {
	margin-bottom: 0.5rem;
	color: var(--white-clr);
}

.footer-socialmedia-icons {
	display: flex;
	justify-content: space-around;
	list-style: none;
}
