.header-wrapper {
	text-align: center;
	margin-top: var(--spacer-1);
}

.nav-main {
	padding-block: 1rem;
	background-color: var(--main-clr);
	display: flex;
	justify-content: center;
	gap: 6rem;
}

.nav-hamburger {
	display: none;
}

.nav-item {
	font-size: var(--fontsize-1);
	transition: color 0.3s ease;
	position: relative;
	font-family: var(--bubble-font);
	font-weight: bold;
	color: white;
	text-decoration: none;
}

/* til mediaquery: */

/* .nav-mobile {
	display: flex;
	position: absolute;
	flex-direction: column;
	background-color: var(--main-clr);

	align-self: end;
	justify-content: center;
	border: var(--black-border);
} */

.nav-item::after {
	content: '';
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	transition: width 0.3s ease;
	background-color: white;
}

.nav-item:hover {
	color: white;
}

.nav-item:hover::after {
	width: 100%;
}

.nav-item.active::after {
	text-decoration: underline;
}
