h1 {
	padding-block: var(--spacer-1);
	margin: var(--no-margin);
	font-size: var(--fontsize-3);
}

.header-wrapper {
	margin-top: var(--spacer-1);
	text-align: center;
}

.header-title {
	font-size: var(--fontsize-3);
}

.nav-main {
	padding-block: 1rem;
	display: flex;
	justify-content: center;
	gap: 6rem;
	background-color: var(--main-clr);
}

.nav-hamburger {
	display: none;
}

.nav-item {
	position: relative;
	transition: color 0.3s ease;
	font-size: var(--fontsize-1);
	font-family: var(--bubble-font);
	font-weight: bold;
	color: white;
	text-decoration: none;
}

/* til mediaquery: */

.nav-mobile {
	/* padding:  */
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-self: center;
	position: absolute;
	background-color: var(--main-clr);
	border: var(--black-border);
	border-radius: var(--border-rad-full);
	font-size: var(--fontsize-1-5);
}

.nav-mobile-item {
	padding: 0.5rem;
	background-color: var(--main-clr);
	color: var(--white-clr);
	text-decoration: none;
}

.active-mobile {
	background-color: white;
	color: var(--main-clr);
}
.nav-item::after {
	content: '';
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	transition: width 0.3s ease;
	background-color: white;
}

.nav-item:hover {
	color: white;
}

.nav-item:hover::after {
	width: 100%;
}

.nav-item.active::after {
	width: 100%;
	text-decoration: underline;
}
