nav {
	display: flex;
	height: 3rem;
	align-items: center;
	gap: 4rem;
}
.header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
	padding-block: 1rem;
}

.main-header-title {
	color: #105e68;
	padding-left: 5rem;
}

.header-logo {
	padding-right: 5rem;
}

.header-nav {
	background-color: #a73a18;
}

.nav-item {
	color: white;
	font-size: 1rem;
	padding: 1rem;
}

.nav-home {
	padding-left: 5rem;
}

.nav-item:hover {
	color: #a73a18;
	background-color: white;
	transition: 1s;
}
