:root {
	--border-rad-full: 1rem;
	--text-border: 2px solid #568bb5;

	--nav-pad: 0 0.5rem;

	--title-fontsize: 2rem;

	--no-margin: 0;

	--main-clr: #568bb5;
	--secondary-clr: #18a78d;

	--bubble-font: 'fuzzy bubbles';
	--bold-font: bold;
}
