.banner {
	width: 100%;
	height: auto;
}

.title {
	font-size: var(--fontsize-3);
	text-align: center;
}

ul {
	padding-block: 5rem;
	display: grid;
	justify-content: space-evenly;
	gap: var(--spacer-2);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: 0 2rem;
	padding-left: 0;
	list-style: none;
}

.contribute-item {
	padding-block: var(--padding-1);
	box-shadow: 3px 3px 3px grey;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--box-background);
	border-radius: var(--border-rad-full);
}

ul img {
	object-fit: contain;
	width: 90%;
	height: auto;
	border-radius: var(--border-rad-full);
}

p {
	width: 80%;
	padding: 0.5rem 1rem;
}

.contribute-button {
	width: 70%;
	padding: 1rem 2rem;
	border: var(--grey-border);
	text-align: center;
}

.contribute-support a:hover,
.contribute-volunteer a:hover,
.contribute-intern a:hover {
	border: var(--grey-border);
}
