/* .banner {
	width: 100%;
} */

.title {
	font-size: var(--fontsize-3);
	text-align: center;
}

ul {
	color: black;
	padding-left: 0;
	padding-block: 5rem;
	display: grid;
	margin: 0 2rem;
	gap: 3rem;
	justify-content: space-evenly;
	grid-template-columns: repeat(3, 1fr);
}

.contribute-support,
.contribute-volunteer,
.contribute-intern {
	padding-block: 1rem;
	box-shadow: 3px 3px 3px grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
	align-items: center;
	background-color: var(--box-background);
	border-radius: var(--border-rad-full);
}

ul img {
	border-radius: var(--border-rad-full);
	outline: 1px solid;
}

p {
	padding: 0.5rem 1rem;
	width: 80%;
}

.contribute-support a,
.contribute-volunteer a,
.contribute-intern a {
	padding: 1rem 2rem;
	width: 70%;
	text-align: center;
	border: var(--grey-border);
}

.contribute-support a:hover,
.contribute-volunteer a:hover,
.contribute-intern a:hover {
	border: var(--grey-border);
}
