.contact-us {
	display: flex;
	flex-direction: column;
}

.contact-banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.contact-banner img {
	object-fit: contain;
	width: 100%;
	height: auto;
}

.contact-form {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 50%;
	margin: auto;
	padding: var(--padding-1);
	background-color: var(--box-background);
	border-radius: var(--border-rad-full);
}

.contact-form h2 {
	margin-top: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.input-info,
.textarea-box {
	margin-top: 0.7rem;
	padding: 0.5rem;
	border: 1px solid var(--grey-clr);
	border-radius: var(--border-rad-full);
}

.contact-form h2 {
	text-align: center;
}

fieldset {
	padding: 0 1rem;
	border: none;
}

legend {
	margin-bottom: 10px;
	padding: 0;
}

label {
	display: none;
}

/* the button is a dummy, but semantically it should be here */

button {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem 2rem;
	transition: 0.3s;
	background-color: var(--secondary-clr);
	border: var(--grey-border);
	border-radius: var(--border-rad-full);
	font-size: var(--fontsize-1);
	font-family: var(--bubble-font);
	font-weight: var(--bold-font);
	color: var(--white-clr);
}

button:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	transition: 0.3s;
	background-color: var(--white-clr);
	color: var(--secondary-clr);
}

.visit-title {
	margin-top: 3rem;
	text-align: center;
}

.visit-grid {
	padding-block: var(--padding-2);
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 50%;
	margin: 0 auto;
}

.visit-hours,
.visit-location {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: var(--text-border);
	border-radius: var(--border-rad-full);
	text-align: left;
}
