.privacy,
.terms {
	padding-block: 5rem;
}

.privacy-text {
	display: flex;
	flex-direction: column;
}

ul {
	display: block;
	list-style: circle;
}

li {
	padding-left: 1rem;
}

.privacy-text,
.terms-text {
	max-width: 70%;
	margin: auto;
	padding: 1rem 3rem;
	background-color: var(--box-background);
	border: 0.1rem solid var(--main-clr);
	border-radius: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
}

.privacy-button,
.terms-button {
	display: flex;
	justify-content: center;
	padding-bottom: 5rem;
}
.privacy-btn,
.terms-btn {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}

h3,
h2 {
	margin-bottom: 0;
	padding-bottom: 0.3rem;
}

/* h2 {
	font-size: var(--fontsize-2);
}

h3 {
	font-size: var(--fontsize-1-5);
} */
