.privacy,
.terms {
	padding-block: 5rem;
}

.privacy-text,
.terms-text {
	align-items: center;
	max-width: 50%;
	margin: 0 auto;
	padding: 1rem 3rem;
	background-color: var(--box-background);
	border: 0.1rem solid var(--main-clr);
	border-radius: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
}

.privacy-text,
.terms-text p {
	font-size: var(--fontsize-1);
}

.privacy-button,
.terms-button {
	display: flex;
	justify-content: center;
	padding-bottom: 5rem;
}
.privacy-btn,
.terms-btn {
	padding: 1rem 2rem;
	transition: 0.3s;
	background-color: var(--secondary-clr);
	border: var(--black-border);
	border-radius: 0.5rem;
	font-weight: var(--bold-font);
	color: var(--white-clr);
	text-decoration: none;
}

.privacy-btn:hover,
.terms-btn:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	transition: 0.3s;
	background-color: var(--white-clr);
	/* font-weight: ; */
	color: var(--secondary-clr);
}

li {
	color: black;

	h3,
	h2 {
		margin-bottom: 0;
		padding-bottom: 0.3rem;
	}
}

h2 {
	font-size: var(--fontsize-3);
}

h3 {
	font-size: var(--fontsize-2);
}
