p {
	margin: var(--spacer-1);
}

.explore h2 {
	font-size: var(--fontsize-3);
}

.explore ul {
	padding-left: 0;
	padding-block: 5rem;
	display: grid;
	margin: 0 var(--spacer-2);
	gap: var(--spacer-3);
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	list-style: none;
}

.explore li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: var(--text-border);
}

.explore img {
	width: 100%;
	display: block;
	max-height: 20rem;
	object-fit: contain;
}

.explore-buttons {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	padding-block: var(--padding-1);
	gap: 1rem;
}

.explore h2 {
	padding-block: var(--padding-2);
	margin: var(--no-margin);
	font-size: var(--fontsize-2);
	font-family: var(--bubble-font);
	font-weight: var(--bold-font);
	text-align: center;
}

.explore-title {
	display: flex;
	padding-bottom: var(--padding-3);
	flex-direction: column;
	justify-content: center;
}

.explore-title img {
	width: 90%;
	margin: auto;
	height: auto;
	border-radius: 2rem;
}
