/* HUSK VARIABLES! */


h1 {
	font-size: var(--fontsize-3);
	margin: var(--no-margin);
	padding-block: var(--spacer-1);
}

h2 {
	font-size: var(--fontsize-2);
}

h3 {
	font-size: 1.5rem;
}

.video-banner {
	display: flex;
	justify-content: center;
	background-color: black;
}

.welcome-txt h2 {
	text-align: center;
}

.welcome-msg {
	padding-block: var(--padding-2);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

.xplorebtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: var(--padding-2);
}

.info-main {
	padding-block: 3rem;
	text-align: center;
}

.admission{
	border-radius: var(--border-rad-full);
	border: 3px solid black;
	margin: var(--margin-centered);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-clr);
	color: var(--white-clr);
	width: 25%;
	padding-block: 1rem;
	font-size: var(--fontsize-2);
}

.info-title h2 {
	padding-left: 1.5rem;
	font-size: 6rem;
	color: var(--white-clr);
	text-align: left;
}

.info-title {
	z-index: -1;
	max-width: 50%;
	margin: var(--margin-centered);
	background-image: url(/assets/images/home/banner-contact.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
}
.info-categories {
	padding-block: 3rem;
	display: grid;
	justify-content: space-evenly;
	gap: 2rem;
	grid-template-columns: repeat(4, 20%);
}

.category-wrapper {
	padding-block: var(--padding-2);
	gap: 2rem;
	background-color: #d8e1e9;
	border: 2px solid black;
}

.category-wrapper p {
	text-align: left;
	padding: 0 1rem;
}


.info-tour-button a {
	/* width: 80%; */
	margin: var(--margin-centered);
	padding: 1rem;
	transition: 0.3s;
	background-color: var(--secondary-clr);
	border: var(--black-border);
	border-radius: var(--border-rad-full);
	text-decoration: none;
	color: var(--white-clr);
}


.info-tour-button a:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	background-color: var(--white-clr);
	border: var(--black-border);
	color: var(--secondary-clr);
}

.events {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.news {
	list-style: none;
	width: 50%;
}

.news h3 {
	margin: 0;
	text-decoration: underline;
}

.news p {
	/* margin: 0; */
	font-size: 1.25rem;
}

.news li {
	display: flex;
	gap: 0.5rem;
}

.news-item {
	padding-block: 1rem;
	/* border-bottom: 2px solid var(--main-clr); */
}

.news-text {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid var(--main-clr);
	

}

/* CSS for the exhibition animation */

/* .-carousel-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.item-1,
.item-2,
.item-3 {
	position: absolute;
	width: 50%;
	height: auto;

	animation-duration: 10s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

.item-1 {
	animation-name: anim-1;
	background-color: blue;
}

.item-2 {
	background-color: red;
	animation-name: anim-2;
}

.item-3 {
	background-color: green;
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%,
	8.3% {
		left: 0%;
		opacity: 0;
	}
	8.3%,
	25% {
		left: 0%;
		opacity: 1;
	}
	33.33%,
	100% {
		left: 0%;
		opacity: 0;
	}
}

@keyframes anim-2 {
	0%,
	33.33% {
		left: 0%;
		opacity: 0;
	}
	41.63%,
	58.29% {
		left: 0%;
		opacity: 1;
	}
	66.66%,
	100% {
		left: 0%;
		opacity: 0;
	}
}

@keyframes anim-3 {
	0%,
	66.66% {
		left: 0%;
		opacity: 0;
	}
	74.96%,
	91.62% {
		left: 0%;
		opacity: 1;
	}
	100% {
		left: 0%;
		opacity: 0;
	}
} */
