.hero-banner img {
	width: 100%;
}

.welcome-txt h2 {
	font-family: var(--bubble-font);
	font-size: var(--title-fontsize);
	text-align: center;
}

.welcome-msg {
	display: flex;
	justify-content: center;
	font-size: 1.25rem;
	padding-block: var(--padding-2);
}

.xplorebtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: var(--padding-2);
}

.xplorebtn-1 {
	padding: 1rem 3rem;
	font-size: 1.25rem;
	font-weight: var(--bold-font);
	background-color: var(--secondary-clr);
	color: var(--white-clr);
	border: var(--grey-border);
	border-radius: var(--border-rad-full);
	transition: 0.3s;
	text-decoration: none;
}

.xplorebtn-1:hover {
	background-color: var(--white-clr);
	color: var(--secondary-clr);
	border: var(--black-border);
	box-shadow: 3px 3px 3px var(--main-clr);
	transition: 0.3s;
}

.info-main {
	text-align: center;
	padding-block: 3rem;
}

.info-categories {
	display: grid;
	grid-template-columns: repeat(4, 20%);
	justify-content: space-evenly;
	gap: 2rem;
	padding-block: 3rem;
}

.category-wrapper {
	background: lightgrey;
	border: 2px solid black;
	gap: 2rem;
	padding-block: var(--padding-2);
}

.category-wrapper p {
	text-align: left;
}

.info-tour-button {
	background-color: var(--secondary-clr);
	padding: 1rem;
	border: var(--black-border);
	border-radius: var(--border-rad-full);
	color: var(--white-clr);
	font-weight: var(--bold-font);
	text-decoration: none;
	transition: 0.3s;
}

.info-tour-button:hover {
	box-shadow: 3px 3px 3px var(--main-clr);
	background-color: var(--white-clr);
	border: var(--black-border);
	color: var(--secondary-clr);
}
